// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #242c29;

// Override Bootstrap color system

$green: #3e4b2e;
$otherGreen: #91a38a;

// Override Bootstrap default state colors

$primary: $green;
